/* BLACK: #191308
GREY: #817F82
WHITE: #EBF2FA
PRIMARY: #3D3B8E
SECONDARY: #6883BA */

* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 height: 100vh;
}

header {
  width: 100%;
  background-color: #3D3B8E;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.header_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

#page_title {
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-size: 38px;
  color: #EBF2FA;
  font-weight: 700;
}

#page_title:hover {
  text-decoration: underline;
  cursor: pointer;
}

svg:hover {
  cursor: pointer;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

#log_in {
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #191308;
  font-weight: 700;
  background-color: #EBF2FA;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  transition: 0.2s;
}

#log_in:hover {
  cursor: pointer;
  background-color: #6883BA;
  border-radius: 10px;
  color: #EBF2FA;
  transition: 0.2s;
}


.sect_1 {
  display: flex;
  padding: 5px;
}

.large_widget_box {
  background-color: #3D3B8E;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  border: none;
  border-radius: 15px;
  margin: 5px;
  padding: 15px;
  height: 400px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

#large_widget_title {
  font-size: 48px;
  font-weight: 700;
  text-align: right;
}

#desc_text {
  font-size: 28px;
  text-align: right;
}

.lg_text {
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #EBF2FA;
  text-align: right;
}

.sub_sect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.small_widget_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 210px;
  width: 400px;
  background-color: #6883BA;
  border: none;
  border-radius: 15px;
  margin: 5px;
  transition: 0.2s;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.small_widget_box:hover {
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s;
}

.small_widget_title {
  color: #EBF2FA;
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 700;
}

footer {
  background-color: #3D3B8E;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.footer_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#footer_title {
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #EBF2FA;
  font-weight: 700;
}

.footer_text {
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #EBF2FA;
}

.sect_2 {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.sub_widget_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
  background-color: #6883BA;
  border: none;
  border-radius: 15px;
  margin: 5px;
  transition: 0.2s;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.sub_widget_box:hover {
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}